@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    var claim = ViewData["claim"] as ClaimView;
}

<div id="">
    <h1>
        @claim.Role
    </h1>
    <h2>
        @claim.AccountId
    </h2>
</div>